
    div#like1{
        float:left;
        height: 50px;
        width: 50px;
    }

    .heart {
	    background: url(../images/web_heart_animation.png);
	    
	    background-repeat: no-repeat;
	    
        background-size:40%;
        margin-right: -30px;
        height:100px;
        width:100px;
        float:right;
 
    }
    .like_count{font-family: 'Georgia', Times, Times New Roman, serif; margin-top: 32px;margin-left: 68px;font-size: 25px;color: #999999}



