.button {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  /* text */
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.button.is-sticky {
  position: relative;
  z-index: 1;
}

.button-secondary {
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: rgba(0,0,0,.5);
  border: 4px solid;
  position:absolute;

}
#button-secondary{
  top:165px;
  left:635px; 
  width:150px;
  height:30px;
}